.hobby {
    display: flex;
    justify-content: space-around;
    & h3 {
        padding: 20px 0 20px 0;
        font-weight: 600;
        font-size: 19px;
        line-height: 26px;
        align-items: center;
        color: $black;
    }
    &__height {
        min-height: 182px;
    }
    &__interests {
        min-width: 470px;
        padding-left: 20px;
        margin-right: 20px;
        & a {
            border: 1px solid $blue;
            border-radius: 4px;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: $gray_0;
        }
    }
    &__list {
        display: flex;
    }
    &__item {
        padding: 4px 13px;
        margin-right: 20px;
    }
    &__places {
        min-width: 490px;
        padding-left: 20px;
        & p {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: $gray_0;
            display: inline;
            padding: 0;
            margin-right: 20px;
        }
    }
}