.user {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    &__photo {
        max-width: 280px;
        & img {
            margin: 20px auto 20px 20px;
        }
    }
    &__info {
        margin-top: 89px;
    }
    &__info-header {
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        display: flex;
        align-items: center;
        color: $black;
        margin: 0 0 23px 0;
        & h2 {
            line-height: 38px;
            margin: 0;
        }
    }
    &__online {
        width: 10px;
        height: 10px;
        background-color: $green;
        border-radius: 50%;
        background: $green;
        border: 2px solid $white;
        margin-left: 14px;
    }
    &__info-location {
        margin-bottom: 16px;
        & svg {
            max-width: 22px;
            padding-right: 7px;
        }
        & p {
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            display: flex;
            align-items: center;
            color: $gray_0;
        }
    }
    &__info-city {
        display: flex;
        align-items: center;
    }
    &__info-btn {
        display: flex;
    }
    &__menu {
        margin-top: 27px;
    }
    &__btn-chat {
        color: $white;
        width: 155px;
        height: 50px;
        margin-right: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $blue;
        border-radius: 25px;
        border: none;
        & svg {
            margin-right: 3px;
        }
    }
    &__btn-invite {
        color: $white;
        width: 168px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(68.42deg, #50F2C4 0%, #26D0E3 39.67%, #757AFF 100%);
        box-shadow: 0px 1px 4px rgba(27, 80, 115, 0.13);
        border-radius: 25px;
        border: none;
        & svg {
            padding-right: 11px;
        }
    }
}